* {
  background-color: bisque;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}
.wrapper {
  margin: 12%;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  border: 3px solid black;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.input {
  margin: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  border: 2px solid blueviolet;
}

.btn {
  padding: 15px 30px;
  border-radius: 20px;
  background: darkred;
  color: white;
  border: none;
}
